VITE_API_BASE_URL=https://api.bacgroupsa.com/api/v1
VITE_SITE_URL=https://www.bacgroupsa.com
VITE_CONTACT_EMAIL=turki.hejaili@gmail.com
VITE_CONTACT_PHONE=+966599000789
VITE_VAT_NUMBER=
VITE_CR_NUMBER=
